html, body {
	width : 100%;
	background-color : #f0f0f0;
}

.jumbotron {
	background-color: #ffffff;
}

.breadcrumb {
	background-color: transparent;
}

.pagination>li>a, .pagination>li>span {
	padding: 6px 15px;
}

.col-temp {
	padding-left: 0px;
	padding-right: 0px;
}

.btn-yellow {
    color: #000;
    background-color: #f3ef73;
    border-color: # #f3ef73;
}

.btn-transparent {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

.form-control_1{
	width:50%;
}