<p id="notice"><%= notice %></p>

<div class="row" style="margin-top:8%">
  <div class="col-lg-2"></div>
  <div class="col-lg-1 col-temp">
    <div class="jumbotron" style="background-color:#606060; height:354px">
      <button type="button" class="btn btn-yellow col-lg-12" onclick="location.href='/products';"> Products </button>
      <button type="button"  class="btn btn-transparent col-lg-12" onclick="location.href='/invoices';"> Invoices </button>
    </div>
  </div>
  <div class="col-lg-7 col-temp">
    <div class="jumbotron">
      <div class="">
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-8">
            <ol class="breadcrumb">
              <li>Products</li>
              <li>Product List</li>
            </ol>
          </div>
          <div class="col-lg-3">
            <button type="button" class="btn btn-success" onclick="location.href='/products/new';"> + New Product </button>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
            <table class="table">
              <thead>
                <tr>
                  <th>Product name</th>
                  <th>Rate</th>
                </tr>
              </thead>

              <tbody>
                <% @products.each do |product| %>
                  <tr>
                    <td><%= product.product_name %></td>
                    <td><%= product.rate %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="col-lg-1"></div>
        </div>
        <div class="row">
          <div class="col-lg-8"></div>
          <div class="col-lg-4" style="padding-left:5%">
            <nav>
              <ul class="pagination">
                <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo; Prev</span></a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">Next &raquo;</span></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>
