<p id="notice"><%= notice %></p>

<div class="row" style="margin-top:5%">
  <div class="col-lg-2"></div>
  <div class="col-lg-8 col-md-12">
    <div class="jumbotron col-temp" style="background-color:#606060">
      <div class="row">
        <div class="col-md-2 col-sm-12 col-btn-sidebar">
          <button type="button" class="btn btn-yellow col-md-12" onclick="location.href='/products';"> Products </button>
          <button type="button"  class="btn btn-transparent col-md-12" onclick="location.href='/invoices';"> Invoices </button>
        </div>
        <div class="col-md-10 col-sm-12">
          <div class="jumbotron col-temp" style="padding-top:40px;margin-bottom:0px;margin-left:-15px">
            <div class="row">
              <div class="col-md-1 col-sm-1"></div>
              <div class="col-md-8 col-sm-8">
                <ol class="breadcrumb">
                  <li>Products</li>
                  <li>Product List</li>
                </ol>
              </div>
              <div class="col-md-3 col-sm-3">
                <button type="button" class="btn btn-success" onclick="location.href='/products/new';"> + New Product </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1 col-sm-1"></div>
              <div class="col-md-10 col-sm-10">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Product name</th>
                      <th>Rate</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @products.each do |product| %>
                      <tr>
                        <td><%= product.product_name %></td>
                        <td><%= product.rate %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <div class="col-md-1 col-sm-1"></div>
            </div>
            <div class="row">
              <div class="col-md-8 col-sm-8"></div>
              <div class="col-md-4 col-sm-4" style="padding-left:5%">
                <nav>
                  <ul class="pagination">
                    <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo; Prev</span></a></li>
                    <li><a href="#" aria-label="Next"><span aria-hidden="true">Next &raquo;</span></a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>